@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Infinite scrolling animation for specialty cards */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.touch-hover {
  background-image: linear-gradient(to right,
      rgba(24, 160, 147, 0.7),
      rgba(18, 131, 135, 0.7),
      rgba(11, 100, 122, 0.7),
      rgba(6, 80, 114, 0.7),
      rgba(0, 51, 102, 0.7));
}

.touch-hover .touch-hover\:hidden {
  display: none !important;
}

.touch-hover .touch-hover\:block {
  display: block !important;
}

.touch-hover .touch-hover\:text-white {
  color: white !important;
}


.specialty-cards-container {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.specialty-cards-container:hover {
  animation-play-state: paused;
}